<mat-toolbar>
  <ul>
    <li>
      <a href="/home" id="logo">
        <img src="assets/images/home.svg" alt="home">
        <span class="bold">Tenants.su</span>
        - отзывы об аренде квартир в Москве
      </a>
    </li>
  </ul>
  <span class="spacer"></span>
  <ul>

  </ul>
</mat-toolbar>
<div class="nav">
  <ul class="nav-links">
    <li class="nav-links-item-left">
      <a mat-button routerLink="/home" routerLinkActive="active-link" class="nav-link-button">О проекте</a>
    </li>
    <li class="nav-links-item-left">
      <a mat-button routerLink="/flats" routerLinkActive="active-link" class="nav-link-button">Найти отзывы</a>
    </li>
    <li class="nav-links-item-left">
      <a mat-button routerLink="/create" routerLinkActive="active-link" class="nav-link-button">Оставить отзыв</a>
    </li>
    <span class="spacer"></span>
    <li *ngIf="!userIsAuthenticated" class="nav-links-item-right">
      <a mat-button routerLink="/login" routerLinkActive="active-link" class="nav-link-button">Вход</a>
    </li>
    <li *ngIf="!userIsAuthenticated" class="nav-links-item-right">
      <a mat-button routerLink="/signup" routerLinkActive="active-link" class="nav-link-button">Регистрация</a>
    </li>
    <li *ngIf="userIsAuthenticated" class="nav-links-item-right">
      <button mat-button (click)="onLogout()">Log out</button>
    </li>
  </ul>
</div>
