body {
  height: 100%;
}

.wrapper{
  display: flex;
	flex-direction: column;
	min-height: 100%;
}

.spacer {
  flex: 1 1 auto;
}

main {
  width: 70%;
  margin: 20px auto;
}

#houses{
  height: 150px;
  background-image: url('../../media/images/houses.png');
  background-size: auto 200px;
  background-repeat: repeat-x;
}
