<p>Современная жизнь в мегаполисе требует большой мобильности,
   поэтому всё больше людей предпочитают арендовать жилье рядом с работой или учебой,
    вместо того чтобы покупать собственное и каждый день тратить много времени на дорогу.
</p>
<p>
  Аренда квартиры дает людям ряд преимуществ:
</p>
<ul>
  <li>
    <span class="bold block">Доступность</span>Начать арендовать квартиру намного проще и дешевле,
     чем накопить первый взнос для ипотеки и купить собственную квартиру
  </li>
  <li>
    <span class="bold block">Мобильность</span>Съемная квартира позволяет безболезненно переезжать и выбирать
     оптимальное место жительства при смене места работы или учебы
  </li>
  <li>
    <span class="bold block">Возможность</span>повышения уровня жилья Всегда можно доплатить и
    переехать в дом с более высоким уровнем комфорта
  </li>
</ul>
<p>
  Однако при поиске квартиры для аренды можно столкнуться с
  множеством подводных камней, которые легко не заметить при первичном осмотре квартиры:
</p>
<ul>
  <li>Скрытые дефекты мебели или сантехники</li>
  <li>Шумные соседи</li>
  <li>Проблемы при взаимодействии с собственником квартиры</li>
</ul>
<p>
  Для того чтобы избежать возможных неприятностей и выбрать
  наиболее комфортную квартиру мы создали сервис, который позволит вам:
</p>
<ul>
  <li><span class="bold">Ознакомиться с отзывами</span> от предыдущих арендаторов перед тем как подписывать договор аренды</li>
  <li><span class="bold">Оставить отзыв</span> квартире, которую вы снимали, с рекомендацией для следующих арендаторов</li>
</ul>
<p>Оставляя отзыв об арендованных квартирах мы снизим риски при аренде квартир и сделаем процесс более прозрачным.</p>
<p>Мы всегда открыты к <span class="bold">обратной связи</span>
  и готовы рассмотреть ваши предложения, направленные по адресу feedback@tenants.su</p>
